//доделать при наведению мышки появляется затемнение

.burgers {
    padding: 80px 20px 35px;
}

.burgers__content {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 40px 0px;
    img {
        max-width: 100%;
    }
}

.burgers__left, .burgers__right, .burgers__bottom {
    position: relative;
}
.burgers__left, .burgers__right {
    width: 50%;
}

.burgers__left {
    margin-right: 20px;
}

.burgers__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:20px;
}

.burgers__title {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 25px;
    @include style__text($bebasNeue, 42px, 400, 32px, 1, #fff);
    &::before {
        content: "try it today";
        display: inline-block;
        margin-bottom: 10px;
        font-size: 25px;
    }
}

.burgers__link {
    text-align: center;
}

.burger__link {
    display: inline-block;
    margin: 0px auto;
    padding: 15px 20px;
    background-color: #ffc045;
    @include style__text($bebasNeue, 25px, 400px, 32px, 1px, $brown);
    text-decoration: none;
}

@media (min-width: 320px) and (max-width: 575px) {
    .burgers {
        padding: 20px 5px 20px 5px;
    }

    .burgers__content {
        flex-direction: column;
    }

    .burgers__left {
        width: 100%;
        margin: 0px;
    }

    .burgers__right {
        width: 100%;
        margin: 0px;
    }

    .burgers__title {
        top: 10px;
        left: 10px;
        font-size: 28px;

        .burgers__line {
            display: inline-block;
        }

        &::before {
            margin: 0px 0px 0px 0px;
            font-size: 14px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .burgers {
        padding: 20px 5px 20px 5px;
    }

    .burgers__content {
        flex-direction: column;
    }

    .burgers__left {
        width: 100%;
        margin: 0px;
    }

    .burgers__right {
        width: 100%;
        margin: 0px;
    }

    .burgers__line {
        display: inline-block;
    }

    .burgers__img {
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .burgers {
        padding: 20px 5px 20px 5px;
    }

    .burgers__title {
        top: 10px;
        left: 10px;
        font-size: 28px;

        .burgers__line {
            display: inline-block;
        }

        &::before {
            margin: 0px 0px 0px 0px;
            font-size: 14px;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .burgers__line {
        display: inline-block;
    }
}

@media (min-width: 1200px) {

}