.footer {
    padding: 80px 0px 0px;
    background: {
        image: url(../images/footer__bg.png);
        size: cover;
        repeat: no-repeat;
        position: center top;
    }
}

.footer__logo {
    margin-bottom: 48px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.footer__text {
    max-width: 521px;
    @include style__text($montserrat, 17px, 400, 24px, 1px, #fff);
}

.footer__adres, .footer__mail {
    display: flex;
    align-items: baseline;
}

.footer__iconstyle {
    display: inline-block;
    width: 22px;
    font-size: 21px;
    color: #fff;
}

.footer__adres-text {
    padding: 0px 0px 0px 35px;
    @include style__text($bebasNeue, 21px, 700, 32px, 1px, #fff);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    font-size: 32px;
    color: #fff;

    .footer__links i {
        margin: 0px 0px 0px 15px;
    }
}

.footer__rights, .footer__links {
    display: block;
}

.footer__rights {
    @include style__text($bebasNeue, 17px, 400, 17px, 1px, #fff);
    text-transform: uppercase;
}

.footer__link {
    color: #fff;
    text-decoration: none;
}


@media (min-width: 320px) and (max-width: 575px) {
    .footer__img {
        max-width: 100%;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__text {
        font-size: 14px;
        text-align: justify;
        margin: 0px 0px 50px 0px;
    }

    .footer__adres, .footer__mail {
        margin: 0px 0px 0px 0px;
    }

    .footer__adres-text {
        padding: 0px 0px 0px 15px;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__rights {
        margin: 0px 0px 20px 0px;
    }

    .footer__links i {
        margin: 0px 0px 0px 0px;
        padding: 5px 5px 5px 5px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__text {
        font-size: 14px;
        text-align: justify;
        margin: 0px 0px 50px 0px;
        
    }

    .footer__adres, .footer__mail {
        margin: 0px 0px 0px 0px;
    }

    .footer__adres-text {
        padding: 0px 0px 0px 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer__text {
        text-align: justify;
        max-width: 425px;
        margin: 0px 25px 0px 0px;
    }

    .footer__adres-text {
        padding: 0px 0px 0px 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {

}