.form {
    padding: 65px 0px 85px;
    background: {
        image: url(../images/form__bg.png);
        size: cover;
        position: top;
        repeat: no-repeat;
    }
}

.form__text {
    text-align: center;
}

.form__title {
    position: relative;
    margin-bottom: 75px;
    @include style__text($alfaSlab, 50px, 400, 46px, 3px, $brown);
    text-transform: uppercase;
    
    &::before {
        position: absolute;
        display: block;
    }
}

.form__inputs {
    display: flex;
    justify-content: center;

    .form__first, .form__second {
        display: flex;
        flex-direction: column;
        width: 35%;
        margin: 0px 15px 0px 15px;
    }
    
    input, .form__second button {
        margin: 10px 10px 10px 10px;
        padding: 20px 20px 20px 20px;
        border: 1px solid #bebebe;
        border-radius: 5px;
    }

    .form__second {

        button {
            background-color: #bf2222;
            @include style__text($alfaSlab, 21px, 400, 18px, 1px, #fff);
            text-transform: uppercase;
        }
    }
}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

    .form__title {
        margin-bottom: 37px;
        font-size: 32px;
    }

    .form__inputs {
        flex-direction: column;
        align-items: center;

        .form__first, .form__second {
            width: 60%;
        }
    }
}

@media (max-width: 575px) {

    .form__first, .form__second {
        min-width: 80%;
    }

}