header {
    overflow: hidden;
    height: 100vh;
    background: {
        image: url(./../images/header-bg.jpg);
        position: bottom;
        repeat: no-repeat;
        size: cover;
        color: #ffc045;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 0px;

    .logo__img img {
        max-width: 100%;
    }
}

.logo__phone {
    @include style__text($montserrat, 17px, 700, 24px, 1px, $brown);
}

.logo__icon {
    font-size: 28px;
}

nav {

    display: flex;
    justify-content: flex-end;

    .menu {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
    }

    .menu__item {
        margin-left: 15px;
        @include style__text($bebasNeue, 21px, 400, 24px, 1px, $brown)
    }

    .menu__link {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: $brown;

        transition: color 0.25s linear;
    }

    .menu__link:last-child {
        padding-right: 0px;
    }

    .menu__link:hover {
        color: #d1661a;
    }

    .nav__bars {
        display: none;
        font-size: 32px;
    }
}

.header__upsign {
    display: inline-block;
    margin-bottom: 40px;
    padding: 16px 18px;
    border: 2px dashed $brown;
    @include style__text($bebasNeue, 24px, 400, 32px, 1px, $brown);
}

.header__title {
    margin-bottom: 30px;
    @include style__text($alfaSlab, 114px, 400px, 61px, 1px, $brown);
}

.header__downsign {
    @include style__text($alfaSlab, 56px, 400, 61px, 1px, $brown);
}

@media (max-width: 767px) {

    @keyframes test1 {
        from {
            top: 50px;
            right: -1000px;
        }

        to {
            top: 50px;
            right: -20px;
        }
    }

    @keyframes test2 {
        from {
            top: 50px;
            right: -20px;
        }

        to {
            top: 50px;
            right: -1000px;
        }
    }


    .nav__inner {
        position: relative;
    }

    .style-menu {
        display: flex;
        position: absolute;
        animation-name: test1;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        top: 50px;
        right: -20px;
        list-style: none;
        text-align: center;
    }

    .header__upcontent {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0px 0px 100px 0px;
    }

    .logo__phone {
        display: none;
    }

    nav {
        .menu {
            position: absolute;
            right: -1000px;
            z-index: 0;
            animation-name: test2;
            animation-duration: 0.5s;
            animation-timing-function: linear;
        }

        .menu__link {
            width: 90px;
            padding: 0px 0px 0px 0px;
        }

        .nav__bars {
            display: inline-block;
        }
    }

    .header__upsign {
        margin: 0px 0px 80px 0px;
        
    }

    .header__title {
        margin: 0px 0px 20px 0px;
        font-size: 100px;
    }

    .header__downsign {
        font-size: 46px;
    }
}


@media (max-width: 575px) {

    .header__upcontent {
        margin: 0px 0px 75px 0px;
    }

    nav {
        margin: 0px 0px 0px 25px;

        .style-menu {
            top: 50px;
            right: -20px;
        }

        .menu__item { 
            margin: 0px;
            font-size: 16px;
        }

        .menu__link {
            width: 75px;
        }
    }

    .header__upsign {
        margin: 0px 0px 170px 0px;
        padding: 8px 10px;
        font-size: 18px;
    }

    .header__title {
        margin: 0px 0px 10px 0px;
        font-size: 70px;
    }

    .header__downsign {
        font-size: 38px;
    }
}


