header {
    position: relative;
    height: 100vh;
    background: {
        color: #ffc045;
    }
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 0px;
}

.logo__phone {
    @include style__text($montserrat, 17px, 700, 24px, 1px, $brown);
}

.logo__icon {
    font-size: 28px;
}

nav {
    position: relative;
    z-index: 10;
    .menu {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
    }

    .menu__item {
        margin-left: 15px;
        @include style__text($bebasNeue, 21px, 400, 24px, 1px, $brown)
    }

    .menu__link {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        color: $brown;

        transition: color 0.25s linear;
    }

    .menu__link:hover {
        color: #d1661a;
    }
}

// .header__content {
//     padding-top: 50px;
// }

.header__upsign {
    display: inline-block;
    margin-bottom: 40px;
    padding: 16px 18px;
    border: 2px dashed $brown;
    @include style__text($bebasNeue, 24px, 400, 32px, 1px, $brown);
}

.header__title {
    margin-bottom: 30px;
    @include style__text($alfaSlab, 114px, 400px, 61px, 1px, $brown);
}

.header__downsign {
    @include style__text($alfaSlab, 56px, 400, 61px, 1px, $brown);
}

.header__price {
    display: inline-flex;
    position: relative;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 174px;
    height: 174px;
    margin: 0px auto;
    border-radius: 50%;
    background-color: #bf2222;
    @include style__text($bebasNeue, 33px, 400, 38px, 1px, #fff);
    &::after {
       content: "";
       display: block;
       position: absolute;
       width: 144px;
       height: 144px;
       border: 2px dashed #fff;
       border-radius: 50%;
    }
}

.first-letter {
    span {
        font-size: 70px;
    }
}

.another-letter {
    margin-left: 20px;
    letter-spacing: 13px;
}

.header__images {
    position: absolute;
    z-index: 2;
    right: 0%;
    bottom: 0%;
    opacity: 0.9;
}