@import "vars";
@import "mixins";

// font-family: 'Bebas Neue', cursive;
// font-family: 'Alfa Slab One', cursive;
// font-family: 'Montserrat', sans-serif;

body {
    box-sizing: border-box;
    @include style__text($montserrat, 14px, 400, 24px, 1px, #000);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

@import "header";
@import "burgers";
@import "choose";
@import "events";