@import "vars";
@import "mixins";

html, body {
    height: 100%;
}

.hide {
    display: none;
}

body {
    box-sizing: border-box;
    @include style__text($montserrat, 14px, 400, 24px, 1px, #000);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
}

@import "header";
@import "burgers";
@import "choose";
@import "events";
@import "form";
@import "footer";

// @media (min-width: 320px) and (max-width: 575px) {

// }

// @media (min-width: 576px) and (max-width: 767px) {

// }

// @media (min-width: 768px) and (max-width: 991px) {

// }

// @media (min-width: 992px) and (max-width: 1199px) {

// }

// @media (min-width: 1200px) {

// }