@import "vars";
@import "mixins";

body {
    box-sizing: border-box;
    @include style__text($montserrat, 14px, 400, 24px, 1px, #000);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px;
}

@import "header";
@import "burgers";
@import "choose";
@import "events";
@import "form";
@import "footer";