html, body {
  height: 100%; }

.hide {
  display: none; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px; }

header {
  height: 100vh;
  background-image: url(./../images/header-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffc045; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px 0px; }
  .logo .logo__img img {
    max-width: 100%; }

.logo__phone {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  color: #3d2514; }

.logo__icon {
  font-size: 28px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none; }
  nav .menu__item {
    margin-left: 15px;
    font-family: "Bebas Neue", cursive;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    color: #3d2514; }
  nav .menu__link {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #3d2514;
    -webkit-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear; }
  nav .menu__link:hover {
    color: #d1661a; }
  nav .nav__bars {
    display: none;
    font-size: 32px; }

.header__upsign {
  display: inline-block;
  margin-bottom: 40px;
  padding: 16px 18px;
  border: 2px dashed #3d2514;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;
  color: #3d2514; }

.header__title {
  margin-bottom: 30px;
  font-family: "Alfa Slab One", cursive;
  font-size: 114px;
  font-weight: 400px;
  line-height: 61px;
  letter-spacing: 1px;
  color: #3d2514; }

.header__downsign {
  font-family: "Alfa Slab One", cursive;
  font-size: 56px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 1px;
  color: #3d2514; }

@media (min-width: 320px) and (max-width: 575px) {
  .header__upcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0px 0px 25px 0px; }
  .logo__phone {
    display: none; }
  nav .menu {
    display: none; }
  nav .nav__bars {
    display: inline-block;
    margin: 0px 0px 0px 25px; }
  .header__upsign {
    margin: 0px 0px 170px 0px;
    padding: 8px 10px;
    font-size: 18px; }
  .header__title {
    margin: 0px 0px 10px 0px;
    font-size: 70px; }
  .header__downsign {
    font-size: 38px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .header__upcontent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0px 0px 50px 0px; }
  .logo__phone {
    display: none; }
  nav .menu {
    display: none; }
  nav .nav__bars {
    display: inline-block; }
  .header__upsign {
    margin: 0px 0px 80px 0px; }
  .header__title {
    margin: 0px 0px 20px 0px;
    font-size: 100px; }
  .header__downsign {
    font-size: 46px; } }

.burgers {
  padding: 80px 20px 35px; }

.burgers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .burgers__content img {
    max-width: 100%; }

.burgers__left, .burgers__right, .burgers__bottom {
  position: relative; }

.burgers__left, .burgers__right {
  width: 50%; }

.burgers__left {
  margin-right: 20px; }

.burgers__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px; }

.burgers__title {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 25px;
  font-family: "Bebas Neue", cursive;
  font-size: 42px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1;
  color: #fff; }
  .burgers__title::before {
    content: "try it today";
    display: inline-block;
    margin-bottom: 10px;
    font-size: 25px; }

@media (min-width: 320px) and (max-width: 575px) {
  .burgers {
    padding: 20px 5px 20px 5px; }
  .burgers__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .burgers__left {
    width: 100%;
    margin: 0px; }
  .burgers__right {
    width: 100%;
    margin: 0px; }
  .burgers__title {
    top: 10px;
    left: 10px;
    font-size: 28px; }
    .burgers__title .burgers__line {
      display: inline-block; }
    .burgers__title::before {
      margin: 0px 0px 0px 0px;
      font-size: 14px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .burgers {
    padding: 20px 5px 20px 5px; }
  .burgers__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .burgers__left {
    width: 100%;
    margin: 0px; }
  .burgers__right {
    width: 100%;
    margin: 0px; }
  .burgers__line {
    display: inline-block; }
  .burgers__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; } }

@media (min-width: 768px) and (max-width: 991px) {
  .burgers {
    padding: 20px 5px 20px 5px; }
  .burgers__title {
    top: 10px;
    left: 10px;
    font-size: 28px; }
    .burgers__title .burgers__line {
      display: inline-block; }
    .burgers__title::before {
      margin: 0px 0px 0px 0px;
      font-size: 14px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .burgers__line {
    display: inline-block; } }

.choose {
  display: none;
  padding: 35px 0px 65px; }

.choose__text {
  text-align: center; }

.choose__link {
  display: inline-block;
  margin-bottom: 40px;
  padding: 15px 20px;
  background-color: #ffc045;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: 400px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #3d2514;
  text-decoration: none; }

.choose__title {
  margin-bottom: 30px;
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  font-weight: 400px;
  line-height: 36px;
  letter-spacing: 1px;
  color: #3d2514; }

.choose__sign {
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  color: #3d2514; }

.choose__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.burger__block {
  width: 33.33333%;
  text-align: center; }
  .burger__block .burger__img {
    margin-bottom: 70px; }
  .burger__block .burger__name {
    margin-bottom: 30px;
    font-family: "Bebas Neue", cursive;
    font-size: 38px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    color: #3d2514; }
  .burger__block .burger__text {
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #3d2514; }
  .burger__block .burger__link {
    display: inline-block;
    padding: 15px 25px;
    font-family: "Alfa Slab One", cursive;
    font-size: 17px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    background-color: #bf2222; }

.events {
  display: none;
  padding: 65px 0px; }

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider__text {
  padding: 60px 50px 90px; }

.slider__title {
  margin-bottom: 40px;
  font-family: "Alfa Slab One", cursive;
  font-size: 42px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  color: #3d2514; }
  .slider__title::before {
    content: "discover";
    display: block;
    margin-bottom: 10px;
    font-family: "Bebas Neue", cursive;
    font-size: 29px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.75px;
    color: #3d3d3d; }

.slider__sign {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  color: #3d3d3d; }

.slider__img {
  margin: 25px 25px 0px 0px; }

.slick-slider {
  -webkit-box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.17);
          box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.17); }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0px 0px 60px 50px; }
  .slick-dots li button {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    border-radius: 50%;
    color: #dcdcdc;
    background-color: #dcdcdc; }
  .slick-dots .slick-active button {
    background-color: #ffc045;
    color: #ffc045; }

.form {
  display: none;
  padding: 65px 0px 85px;
  background-image: url(../images/form__bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.form__text {
  text-align: center; }

.form__title {
  position: relative;
  margin-bottom: 75px;
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 3px;
  color: #3d2514;
  text-transform: uppercase; }
  .form__title::before {
    position: absolute;
    display: block; }

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__inputs input {
    width: 350px;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #bebebe;
    border-radius: 5px; }

.footer {
  padding: 80px 0px 0px;
  background-image: url(../images/footer__bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.footer__logo {
  margin-bottom: 48px; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px; }

.footer__text {
  max-width: 521px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  color: #fff; }

.footer__adres, .footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.footer__iconStyle {
  display: inline-block;
  width: 22px;
  font-size: 21px;
  color: #fff; }

.footer__adres-text {
  padding: 0px 0px 0px 35px;
  font-family: "Bebas Neue", cursive;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
  color: #fff; }

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  font-size: 32px;
  color: #fff; }
  .footer__bottom .footer__links i {
    margin: 0px 0px 0px 15px; }

.footer__rights, .footer__links {
  display: block; }

.footer__rights {
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase; }

@media (min-width: 320px) and (max-width: 575px) {
  .footer__img {
    max-width: 100%; }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__text {
    font-size: 14px;
    text-align: justify;
    margin: 0px 0px 50px 0px; }
  .footer__adres, .footer__mail {
    margin: 0px 0px 0px 0px; }
  .footer__adres-text {
    padding: 0px 0px 0px 15px; }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__rights {
    margin: 0px 0px 20px 0px; }
  .footer__links i {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__text {
    font-size: 14px;
    text-align: justify;
    margin: 0px 0px 50px 0px; }
  .footer__adres, .footer__mail {
    margin: 0px 0px 0px 0px; }
  .footer__adres-text {
    padding: 0px 0px 0px 15px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .footer__text {
    text-align: justify;
    max-width: 425px;
    margin: 0px 25px 0px 0px; }
  .footer__adres-text {
    padding: 0px 0px 0px 15px; } }
