body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px; }

header {
  position: relative;
  height: 100vh;
  background-color: #ffc045; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px 0px; }

.logo__phone {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  color: #3d2514; }

.logo__icon {
  font-size: 28px; }

nav {
  position: relative;
  z-index: 10; }
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none; }
  nav .menu__item {
    margin-left: 15px;
    font-family: "Bebas Neue", cursive;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    color: #3d2514; }
  nav .menu__link {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #3d2514;
    -webkit-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear; }
  nav .menu__link:hover {
    color: #d1661a; }

.header__upsign {
  display: inline-block;
  margin-bottom: 40px;
  padding: 16px 18px;
  border: 2px dashed #3d2514;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;
  color: #3d2514; }

.header__title {
  margin-bottom: 30px;
  font-family: "Alfa Slab One", cursive;
  font-size: 114px;
  font-weight: 400px;
  line-height: 61px;
  letter-spacing: 1px;
  color: #3d2514; }

.header__downsign {
  font-family: "Alfa Slab One", cursive;
  font-size: 56px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 1px;
  color: #3d2514; }

.header__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 10;
  left: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 174px;
  height: 174px;
  margin: 0px auto;
  border-radius: 50%;
  background-color: #bf2222;
  font-family: "Bebas Neue", cursive;
  font-size: 33px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 1px;
  color: #fff; }
  .header__price::after {
    content: "";
    display: block;
    position: absolute;
    width: 144px;
    height: 144px;
    border: 2px dashed #fff;
    border-radius: 50%; }

.first-letter span {
  font-size: 70px; }

.another-letter {
  margin-left: 20px;
  letter-spacing: 13px; }

.header__images {
  position: absolute;
  z-index: 2;
  right: 0%;
  bottom: 0%;
  opacity: 0.9; }

.burgers {
  padding: 80px 20px 35px; }

.burgers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.burgers__left, .burgers__right, .burgers__bottom {
  position: relative; }

.burgers__left, .burgers__right {
  width: 50%; }

.burgers__left {
  margin-right: 20px; }

.burgers__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px; }

.burgers__title {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 25px;
  font-family: "Bebas Neue", cursive;
  font-size: 42px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1;
  color: #fff; }
  .burgers__title::before {
    content: "try it today";
    display: inline-block;
    margin-bottom: 10px;
    font-size: 25px; }

.burgers__img {
  background-repeat: no-repeat;
  background-size: cover; }
