html, body {
  height: 100%; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px; }

header {
  height: 100vh;
  background-image: url(./../images/header-bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffc045; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px 0px; }

.logo__phone {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1px;
  color: #3d2514; }

.logo__icon {
  font-size: 28px; }

nav {
  position: relative;
  z-index: 10; }
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style-type: none; }
  nav .menu__item {
    margin-left: 15px;
    font-family: "Bebas Neue", cursive;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    color: #3d2514; }
  nav .menu__link {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #3d2514;
    -webkit-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear; }
  nav .menu__link:hover {
    color: #d1661a; }

.header__upsign {
  display: inline-block;
  margin-bottom: 40px;
  padding: 16px 18px;
  border: 2px dashed #3d2514;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1px;
  color: #3d2514; }

.header__title {
  margin-bottom: 30px;
  font-family: "Alfa Slab One", cursive;
  font-size: 114px;
  font-weight: 400px;
  line-height: 61px;
  letter-spacing: 1px;
  color: #3d2514; }

.header__downsign {
  font-family: "Alfa Slab One", cursive;
  font-size: 56px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 1px;
  color: #3d2514; }

.burgers {
  display: none;
  padding: 80px 20px 35px; }

.burgers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.burgers__left, .burgers__right, .burgers__bottom {
  position: relative; }

.burgers__left, .burgers__right {
  width: 50%; }

.burgers__left {
  margin-right: 20px; }

.burgers__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20px; }

.burgers__title {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 25px;
  font-family: "Bebas Neue", cursive;
  font-size: 42px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 1;
  color: #fff; }
  .burgers__title::before {
    content: "try it today";
    display: inline-block;
    margin-bottom: 10px;
    font-size: 25px; }

.burgers__img {
  background-repeat: no-repeat;
  background-size: cover; }

.choose {
  display: none;
  padding: 35px 0px 65px; }

.choose__text {
  text-align: center; }

.choose__link {
  display: inline-block;
  margin-bottom: 40px;
  padding: 15px 20px;
  background-color: #ffc045;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: 400px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #3d2514;
  text-decoration: none; }

.choose__title {
  margin-bottom: 30px;
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  font-weight: 400px;
  line-height: 36px;
  letter-spacing: 1px;
  color: #3d2514; }

.choose__sign {
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  color: #3d2514; }

.choose__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.burger__block {
  width: 33.33333%;
  text-align: center; }
  .burger__block .burger__img {
    margin-bottom: 70px; }
  .burger__block .burger__name {
    margin-bottom: 30px;
    font-family: "Bebas Neue", cursive;
    font-size: 38px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 1px;
    color: #3d2514; }
  .burger__block .burger__text {
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    color: #3d2514; }
  .burger__block .burger__link {
    display: inline-block;
    padding: 15px 25px;
    font-family: "Alfa Slab One", cursive;
    font-size: 17px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    background-color: #bf2222; }

.events {
  display: none;
  padding: 65px 0px; }

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider__text {
  padding: 60px 50px 90px; }

.slider__title {
  margin-bottom: 40px;
  font-family: "Alfa Slab One", cursive;
  font-size: 42px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 1px;
  color: #3d2514; }
  .slider__title::before {
    content: "discover";
    display: block;
    margin-bottom: 10px;
    font-family: "Bebas Neue", cursive;
    font-size: 29px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.75px;
    color: #3d3d3d; }

.slider__sign {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  color: #3d3d3d; }

.slider__img {
  margin: 25px 25px 0px 0px; }

.slick-slider {
  -webkit-box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.17);
          box-shadow: 20px 5px 20px rgba(0, 0, 0, 0.17); }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0px 0px 60px 50px; }
  .slick-dots li button {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    border-radius: 50%;
    color: #dcdcdc;
    background-color: #dcdcdc; }
  .slick-dots .slick-active button {
    background-color: #ffc045;
    color: #ffc045; }

.form {
  display: none;
  padding: 65px 0px 85px;
  background-image: url(../images/form__bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.form__text {
  text-align: center; }

.form__title {
  position: relative;
  margin-bottom: 75px;
  font-family: "Alfa Slab One", cursive;
  font-size: 50px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 3px;
  color: #3d2514;
  text-transform: uppercase; }
  .form__title::before {
    position: absolute;
    display: block; }

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form__inputs input {
    width: 350px;
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid #bebebe;
    border-radius: 5px; }

.footer {
  padding: 80px 0px 0px;
  background-image: url(../images/footer__bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.footer__logo {
  margin-bottom: 48px; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px; }

.footer__text {
  max-width: 521px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1px;
  color: #fff; }

.footer__adres, .footer__mail {
  display: block;
  margin-left: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
  color: #fff; }

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  font-size: 32px;
  color: #fff; }
  .footer__bottom .footer__links i {
    margin-left: 10px; }

.footer__rights, .footer_links {
  display: block; }

.footer__rights {
  font-family: "Bebas Neue", cursive;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase; }
